/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

/* _____________________________________________
 * |                                           |
 * |       Zajedničko za sve prozore           |
 * |___________________________________________|
 */
#Label-text1 {
    -fx-font-size: 16px;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #737373;
    -fx-opacity: 1;
    
	
}

#Label-text2 {
    -fx-font-size: 20px;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-text-fill: #b80404;
    -fx-opacity: 1;
	
	
}
#Label-text3 {
    -fx-font-size: 12px;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-text-fill: #737373;
    -fx-opacity: 1;
	
	
}
#Label-H1 {
    -fx-font-size: 32px;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #737373;
    -fx-opacity: 1;

}

#Label-H2 {
    -fx-font-size: 28px;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #737373;
    -fx-opacity: 1;

}

#Label-H3 {
    -fx-font-size: 24px;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #737373;
    -fx-opacity: 1;
    -fx-underline: true ;

}

#TextField {
	-fx-font-size: 13px;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #737373;
    -fx-font-weight: 600;
}

.text-area{
    -fx-background-color: #fff, #fff;
}

.text-area .content {
    -fx-background-color: #fff;
}

.text-area:focused .content {
    -fx-background-color: #fff;
}

/* Gumb odjava */
/* ============================================================ */
.ButtonOdjava {
    -fx-padding: 5 22 5 22;   
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #e01212;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 18px;
    -fx-text-fill: #ffffff;
    -fx-font-weight: 600;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    -fx-cursor: hand;
}

/* Gumb odjava pritisnut*/
.ButtonOdjava:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

/* Gumb odjava prijelaz mišem*/
.ButtonOdjava:hover {
    -fx-background-color:white;
    -fx-text-fill: #000000;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-font-weight: 600;
}

/* Gumb green  */
/* ============================================================ */
.ButtonGreen  {
    -fx-padding: 5 22 5 22;   
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #228f2f;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 18px;
    -fx-text-fill: #ffffff;
    -fx-font-weight: 600;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    -fx-cursor: hand;
}

/* Gumb zeleni pritisnut*/
.ButtonGreen:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

/* Gumb zeleni prijelaz mišem*/
.ButtonGreen:hover {
    -fx-background-color:white;
    -fx-text-fill: #000000;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-font-weight: 600;
}

/* Pozadina iza Tab izbornika */
.tab-pane > .tab-header-area > .tab-header-background {  
    -fx-background-color:white;
    
} 
#Background1 {
	-fx-background-color: #e2e2e2;
}

/* Gumb print  */
/* ============================================================ */
.ButtonPrint  {
    -fx-padding: 5 22 5 22;   
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-image: url("../images/print.png");
    -fx-background-color: #3498db;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 10px;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    -fx-cursor: hand;
}
/* Gumb print pritisnut*/
.ButtonPrint:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

/* Gumb print prijelaz mišem*/
.ButtonPrint:hover {
    -fx-background-color:white;
    -fx-text-fill: #000000;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-font-weight: 600;
}

/* Gumb Dodaj studenta  */
/* ============================================================ */
.ButtonNewStudent  {
    -fx-padding: 5 22 5 22;   
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-image: url("../images/new.png");
    -fx-background-color: #3498db;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 15px 25px;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    -fx-cursor: hand;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 18px;
    -fx-text-fill: #ffffff;
}
/* Gumb print pritisnut*/
.ButtonNewStudent:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

/* Gumb print prijelaz mišem*/
.ButtonNewStudent:hover {
    -fx-background-color:white;
    -fx-text-fill: #000000;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-font-weight: 600;
}

/* Gumb Editiraj studenta  */
/* ============================================================ */
.ButtonEditStudent  {
    -fx-padding: 5 22 5 22;   
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-image: url("../images/edit.png");
    -fx-background-color: #3498db;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 15px 27px;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    -fx-cursor: hand;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 18px;
    -fx-text-fill: #ffffff;
}
/* Gumb print pritisnut*/
.ButtonEditStudent:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

/* Gumb print prijelaz mišem*/
.ButtonEditStudent:hover {
    -fx-background-color:white;
    -fx-text-fill: #000000;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-font-weight: 600;
}

/* Gumb Obriši studenta  */
/* ============================================================ */
.ButtonDeleteStudent  {
    -fx-padding: 5 22 5 22;   
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-image: url("../images/delete.png");
    -fx-background-color: #e01212;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 20px 27px;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    -fx-cursor: hand;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 18px;
    -fx-text-fill: #ffffff;
}
/* Gumb print pritisnut*/
.ButtonDeleteStudent:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

/* Gumb print prijelaz mišem*/
.ButtonDeleteStudent:hover {
    -fx-background-color:white;
    -fx-text-fill: #000000;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-font-weight: 600;
}


/* Gumb cancel  */
/* ============================================================ */
.ButtonCancel  {
    -fx-padding: 5 22 5 22;   
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-image: url("../images/cancel.png");
    -fx-background-color: #3498db;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 10px;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    -fx-cursor: hand;
}
/* Gumb cancel pritisnut*/
.ButtonCancel:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

/* Gumb cancel prijelaz mišem*/
.ButtonCancel:hover {
    -fx-background-color:white;
    -fx-text-fill: #000000;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-font-weight: 600;
}

/* _____________________________________________
 * |                                           |
 * |          StudentMain FXML Prozor                 |
 * |___________________________________________|
 */
 
/* Pozadina sadržaja prozora ispod menia */
#StudentTabSadrzaj {
	-fx-background-color: #ffffff;
}

/* Pozadina sadržaja prozora ispod menia */
#StudentProzor {
	-fx-background-color: #ffffff;
}
	
	
/* Gumb Tab izbornika */
.TabStudent {
	-fx-padding: 10 15 10 15;   
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #e01212;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-cursor: hand;
}

/* Gumb Tab izbornika text */
.TabStudent .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #ffffff;
    -fx-font-size: 18px;
    -fx-font-weight: 600;
}

/* Boja pozatine tab menija */
.tab-pane .TabStudent:selected {
    -fx-background-color: #ffffff;
}

/* Prijelaz miša preko Tab gumba */
.TabStudent:hover {
	-fx-padding: 10 15 10 15;   
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: white;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
}

/* Promjena boje teksta kod prijelaza mišem preko Tab gumba */
.TabStudent:hover .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #e01212;
    -fx-font-size: 18px;
    -fx-font-weight: 600;
}

/* Otvoren odabrani Tab gumb */
.TabStudent:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #000000;
    -fx-font-size: 18px;
    -fx-font-weight: 600;
    -fx-border-style: none;
}
/* Briše plavi kvadrat oko teksta u Tab gumbu */
.TabStudent:selected .focus-indicator {
    -fx-focus-color: transparent;   
}


/* Naslov u prozoru */
#Naslov {
	-fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 26px;
    -fx-font-style: italic;
    -fx-text-fill: #000000;
    -fx-font-weight: 600;
	
}





/* _____________________________________________
 * |                                           |
 * |          Login FXML Prozor                |
 * |___________________________________________|
 */
 
/* Text, unos u text polje */
.text-field {
    -fx-font-size: 10pt;
    -fx-font-family: "Segoe UI Semibold";
}

/* Pozadina login polja sa unosima */
#Login-polje-Pozadina {
	-fx-background-color: #3a3a3a;
	
}

.Label-Login {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #ffffff;
    
}

.Label-Login-Password {
    -fx-font-size: 13pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #f00303;
    -fx-opacity: 0.6;
    -fx-font-weight: 900;
}
.ButtonLogin {
    -fx-padding: 5 22 5 22;   
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #3498db;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 18px;
    -fx-text-fill: #ffffff;
    -fx-font-weight: 600;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    -fx-cursor: hand;
}

.ButtonLogin:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.ButtonLogin:hover {
    -fx-background-color:white;
    -fx-text-fill: #000000;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-font-weight: 600;
}

.CheckBox-Zapamti {
	-fx-font-size: 10pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #ffffff;
}

#Naslov-Login {
	-fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 45px;
    -fx-font-style: italic;
    -fx-text-fill: #000000;
    -fx-font-weight: 600;
	
}

/* _____________________________________________
 * |                                           |
 * |      ProfesorMain FXML Prozor      |
 * |___________________________________________|
 */

#ProfesorProzor {
	-fx-background-color: #228f2f;
}
	
/* Gumb Tab izbornika */
.TabProfesor {
	-fx-padding: 10 15 10 15;   
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #228f2f;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-cursor: hand;
}

/* Gumb Tab izbornika text */
.TabProfesor .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #ffffff;
    -fx-font-size: 18px;
    -fx-font-weight: 600;
}

/* Boja pozatine tab menija */
.tab-pane .TabProfesor:selected {
    -fx-background-color: #ffffff;
}

/* Prijelaz miša preko Tab gumba */
.TabProfesor:hover {
	-fx-padding: 10 15 10 15;   
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: white;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
}

/* Promjena boje teksta kod prijelaza mišem preko Tab gumba */
.TabProfesor:hover .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #228f2f;
    -fx-font-size: 18px;
    -fx-font-weight: 600;
}

/* Otvoren odabrani Tab gumb */
.TabProfesor:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #000000;
    -fx-font-size: 18px;
    -fx-font-weight: 600;
    -fx-border-style: none;
}
/* Briše plavi kvadrat oko teksta u Tab gumbu */
.TabProfesor:selected .focus-indicator {
    -fx-focus-color: transparent;   
}
 

/* Naslov u prozoru */
#NaslovProfesori {
	-fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 26px;
    -fx-font-style: italic;
    -fx-text-fill: #ffffff;
    -fx-font-weight: 600;
	
}

/* _____________________________________________
 * |                                           |
 * |      ReferadaMain FXML Prozor      |
 * |___________________________________________|
 */

#ReferadaProzor {
	-fx-background-color: #3498db;
}
	
/* Gumb Tab izbornika */
.TabReferada {
	-fx-padding: 10 15 10 15;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #3498db;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-cursor: hand;
}

/* Gumb Tab izbornika text */
.TabReferada .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #ffffff;
    -fx-font-size: 18px;
    -fx-font-weight: 600;
}

/* Boja pozatine tab menija */
.tab-pane .TabReferada:selected {
    -fx-background-color: #ffffff;
}

/* Prijelaz miša preko Tab gumba */
.TabReferada:hover {
	-fx-padding: 10 15 10 15;   
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: white;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
}

/* Promjena boje teksta kod prijelaza mišem preko Tab gumba */
.TabReferada:hover .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #3498db;
    -fx-font-size: 18px;
    -fx-font-weight: 600;
}

/* Otvoren odabrani Tab gumb */
.TabReferada:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #000000;
    -fx-font-size: 18px;
    -fx-font-weight: 600;
    -fx-border-style: none;
}
/* Briše plavi kvadrat oko teksta u Tab gumbu */
.TabReferada:selected .focus-indicator {
    -fx-focus-color: transparent;   
}



/* Naslov u prozoru */
#NaslovReferada {
	-fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 26px;
    -fx-font-style: italic;
    -fx-text-fill: #ffffff;
    -fx-font-weight: 600;
	
}

/* _____________________________________________
 * |                                           |
 * |      AdminMain FXML Prozor      |
 * |___________________________________________|
 */

#AdminProzor {
	-fx-background-color: #000000;
}
	
/* Gumb Tab izbornika */
.TabAdmin {
	-fx-padding: 10 15 10 15;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #000000;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-cursor: hand;
}

/* Gumb Tab izbornika text */
.TabAdmin .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #ffffff;
    -fx-font-size: 18px;
    -fx-font-weight: 600;
}

/* Boja pozatine tab menija */
.tab-pane .TabAdmin:selected {
    -fx-background-color: #ffffff;
}

/* Prijelaz miša preko Tab gumba */
.TabAdmin:hover {
	-fx-padding: 10 15 10 15;   
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: white;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
}

/* Promjena boje teksta kod prijelaza mišem preko Tab gumba */
.TabAdmin:hover .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #000000;
    -fx-font-size: 18px;
    -fx-font-weight: 600;
}

/* Otvoren odabrani Tab gumb */
.TabAdmin:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #000000;
    -fx-font-size: 18px;
    -fx-font-weight: 600;
    -fx-border-style: none;
}
/* Briše plavi kvadrat oko teksta u Tab gumbu */
.TabAdmin:selected .focus-indicator {
    -fx-focus-color: transparent;   
}


/* Naslov u prozoru */
#NaslovAdmin {
	-fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 26px;
    -fx-font-style: italic;
    -fx-text-fill: #ffffff;
    -fx-font-weight: 600;
	
}

 